<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="spark" type="Spark.Configuration.SparkSectionHandler, Spark"/>
	</configSections>
	<appSettings/>
	<connectionStrings/>
	<spark>
	</spark>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="None"/>
		<customErrors mode="RemoteOnly"/>
		<httpHandlers>
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
</configuration>
